.heroHeading {
    font-family: 'Sporting Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 73px;
    letter-spacing: 0.01em;
    color: #262524;
}

@media (max-width: 768px) {
    .heroHeading {
        font-size: 40px;
        line-height: 50px;
    }
}
